@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #faebd7;
    font-family: 'Inter';
    font-weight: bold;

    background-image: url("../../assets/images/backrground.png");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed; 
}

.container-style {
    border: 5px solid black;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 0px black) ;
}

.scores {
    display: flex;
    justify-content: space-evenly
}

.scores h1{
    padding: 7px;
    margin-bottom: 0px;
    transform: translateY(20px);
    z-index: 2;
}

.scores h1:first-child{
    background-color: crimson;
}

.scores h1:last-child {
    background-color: cornflowerblue;
}

.canvas-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-image: url(assets/images/background.png);
}

#start {
    display: block;
    position: fixed;
    z-index: 99;
}

#game-over {
    display: none;
    position: fixed;
    z-index: 99;
    flex-direction: column;
    align-items: center;
}

.end-scores span{
    font-size: 5rem;
    padding: 10px;
    margin: 10px;

    border: 5px solid black;
    border-radius: 20px;
}

#red-end-score {
    background-color: crimson;
}

#blue-end-score {
    background-color: cornflowerblue;
}

#replay {
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: bold;
    padding: 10px;

    border: 5px solid black;
    border-radius: 20px;
}