<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="form-div" id="signin">
        <h4 class="container-style">Inscription</h4>
        <form class="signin-form container-style">
            <input type="text" name="username" placeholder="Pseudo">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Mot de passe">
            <input type="submit" value="Valider">
        </form>
        <p>Vous avez déjà un compte ? <a href="/login">Connexion</a></p>
    </div>
    <script src="/scripts/login.js"></script>
</body>
</html



